<form class='size-calculator'>
  <div>
    <div>
      <h6>Finding Your Band Measurement</h6>
      <p>Using a soft tape, measure around your rib cage (in inches) just below your bust. Ensure the tape is snug, being careful not to make it too tight or too loose. The measurement you come up with is your band measurement. Round up if between whole numbers. Record this number.</p>
    </div>
    <div>
      <h6>Finding Your Bust Measurement</h6>
      <p>Using the soft tape, measure the fullest part of your bust. The number you come up with is your bust measurement. After recording your bust measurement, reference the calculator below to find your perfect fit!</p>
    </div>
  </div>
  <hr/>
  <div>
    <div>
      <input type="text" name='band-measurement' placeholder="Enter Band Measurement" class='input-outline'/>
      <input type="text" name='bust-measurement' placeholder="Enter Bust Measurement" class='input-outline' />
      <button class='button' type='submit'>Show my bra size</button>
    </div>
    <div class='bra-result'></div>
  </div>
</form>
